*{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p{
    font-size: 14px;
}
/* ================================== Generic CSS ============================= */
.section-title{
    padding-top: 90px;
    padding-bottom:50px;
}

.section-title h2{
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title h2:after{
    content:"";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width:60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;

}

.section-title p{
     color: #333;
     font-size: 18px;
     line-height: 28px;
     font-weight:300;
     text-align: center;
     margin-top: 45px;
     font-size: 18px;
}
/* ================================== HEADER ================================= */
.header{
    background-image: url("../images/AvatarSimpleBg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* Prefix for browser Mozilla | Opera | Chrome and Safari | */
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

}

.header-overlay{
    background-color: rgba(255, 255, 255, 0); /* Since Alpha(Opacity) is set 0, it has no effect */
}

.logo{
    padding-top: 10px;
    padding-bottom: 50px;
}

.header-text h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 30x;
    padding-top: 30px;
    text-transform: uppercase;
}

.header-text p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight:300;
}

.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{
    background: transparent;
    border-color: #ffffff;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size:19px;
    border-radius:3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
} 

.btn-download:hover {
    background-color: #ee8d30;
    color: rgb(238,141,48);
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited
{
 color:#ffffff;
 margin-left: 20px;
 text-transform: uppercase;
 font-size: 19px;
 font-weight: 500;
 background: transparent;
 transition: all 1s;
 -webkit-transition: all 1s;
 -moz-transition: all 1s;
 -o-transition: all 1s;
}


.btn-tour:hover {
    background-color: #ee8d30;
    color: rgb(238,141,48);
}

.header-poster img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 50px;
}
/* ================================== Overview Section ================================= */
.overview-section{
    background-color: #c5d5cb;
}
.avatar-overview{
    padding-top: 50px;
}
.about-avatar h2{
    text-transform: uppercase;
    margin-left: 200px;
    padding-top: 10px;
    font-weight:800;
    font-size:30px;
    line-height:37px;
    color:#ffac47;
}
.about-avatar img{
    margin-top: 50px;
    border-radius: 20px;
}

.episodes-title{
    padding-bottom: 50px;
}
.episodes-title h2{
    text-transform: uppercase;
    padding-top: 10px;
    font-weight:800;
    font-size:30px;
    line-height:37px;
    position:relative; /* This is relative since an underline will be added*/

}

.episodes-title h2:after{
    content:"";
    position:absolute;
    bottom:-12px;
    left:0;
    width:70px;
    height:1px;
    background-color: #129CF3;
}

.episodes-title p{
    margin-top: 40px;
    font-size:19px;
    line-height:24px;
}

.episodes-item{
    position:relative;
    padding-bottom: 4px;
    padding-left: 80px;
}

.episodes-item div{
    position:absolute;
    top:0;
    left:0; 
}

.episodes-item div i{
    font-size: 55px;
    transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
    -moz-transition:all 1s;
}
#water-icon{
    color: #d4f1f9;
}
#earth-icon{
    color: #3A5F0B;
}
#fire-icon{
    color: #e25822;
}
.episodes-item h3{
    color:#343434;
    text-transform:uppercase;
    font-size: 20px;
    font-weight: 800;
}

.episodes-item p{
    color:#727272;
    font-size:15px;
}